@font-face {
    font-family: "Aclonica";
    src: url('https://fonts.googleapis.com/css?family=Aclonica');
}

body {
    background: url("../../assets/images/bg.jpg")
}

li {
    list-style: none;
}

.header {
    font-family: "Aclonica"
}

.qbutton:hover {
    background: red;
}

.qbutton {
    border: none;
    text-decoration: none;
}

.container {
    background: peachpuff;
    margin-top: 5%;
}

#game {
    visibility: hidden;
    width: 20%;
    margin-left: 40%;
    margin-top: 10%;
}

#questionPic {
    margin-left: 34%;
}

#resetButton {
    visibility: hidden;
    width: 20%;
    margin-left: 40%;
}

#startButton {
    width: 20%;
    margin-left: 40%;
    margin-top: 10%;
}